*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.table{
    width: 420px;
    background: rgb(77, 56, 26);
    color: rgb(71, 70, 133);
}
.bara{
    margin-top: -200px;
}
.btn{
    background-color: rgb(214, 88, 30);
}