body{
    margin: 0;
    height: 0;
    background-image: url(/imagenes/pexels-pixabay-159400.png);
    background-color: rgb(128, 127, 127);

}

.icon {
    display: flex;
    margin-top: 0.20vw;
    margin-bottom: 0;
    margin-left: 2vw;
    align-items: center;
    justify-content: center;
    img {
        width: 50px;
        height: 50px;
    }
    p {
        font-size: 2rem;
    }
}

.tittle h2 {
    text-align: center;
    margin: 0;
}

.filas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.stil{
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 0.75vh;
    width: 40.625vw;
    background-color: rgb(131, 151, 151);

}

.stil p{
    text-align: center;
}

.stil h2 {
    color: white;
    text-align: center;
}

.bara1{
    width: 30%;
    height: 100%;
    margin: 20px 0;
}
.datos-input p {
    text-align: center;
}
.datos-input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    border: 2px solid rgb(102, 92, 76);
    border-radius: 590px;
    padding: 10px;
    background-color: rgb(131, 151, 151);
    
}

button {
    margin: 0.75vh;
    background-color: aquamarine;
    border: none;
    height: auto;
    width: 10vw;
    border-radius: 15px;

}

button:hover {
    cursor: pointer;
}
  