body{
    margin: 0;
    height: 0;
    background-image: url(/imagenes/pexels-pixabay-159400.png);


}
.sti1{
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 20px;
    width: 300px;
    background-color: rgb(131, 151, 151);

}
.sti1 h2 {
    margin-left: 70px;
}
.sti1 p{
    margin-left: 95px;
}

.sti2{
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 450px;
    width: 300px;
    margin-top: -105px;
    background-color: rgb(131, 151, 151);

}
.sti2 h2 {
    margin-left: 70px;
}
.sti2 p{
    margin-left: 95px;
}

.sti3{
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 880px;
    width: 300px;
     margin-top: -104px;
     background-color: rgb(131, 151, 151);

}
.sti3 h2 {
    margin-left: 70px;
}
.sti3 p{
    margin-left: 65px;
}

.sti4 h2{
    margin-left: 160px;
    margin-top: 100px;
    
        
}

.bara1{
    width: 40%;
    height: 100%;
    margin: 20px 0;
}
.bara1 input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(102, 92, 76);
    border-radius: 590px;
    padding: 10px;
    margin-left: 150px;
    background-color: rgb(131, 151, 151);
    
    }

    .bara2{
        width: 40%;
        height: 100%;
        margin: 20px 0;
    }
    .bara2 input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        border: 2px solid rgb(102, 92, 76);
        border-radius: 590px;
        padding: 10px;
        margin-left: 150px;
        background-color: rgb(131, 151, 151);
        
        }    