body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    background-color: rgb(235, 245, 246);
    height: 35px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    z-index: 1000;
    top: 0;
    a{
        color: black;
        text-decoration: none;
        align-content: center;
        font-size: 1.8002vw;
        padding: 5px;
    }
    img{
        width: 20px;
        padding: 5px;
    }
    

}

.prop1{
    height: 10px;
    padding: 25px;
    width: 40px;
    background-color: rgb(188, 4, 4);
    border-radius: 100%;
    display: flex;
    
    
    
   
}


.texto{
    
    justify-content: center;

}
.botone{
    padding: 35px;

    button{
        background-color: #fa8714;
        border: 0px;
        border-radius: 35px;
        padding: 18px;
    }
    
    a{
        color: black;
        text-decoration: none;
        align-content: center;
        font-size: 1.8002vw;
        padding: 5px;
    }
}
.derT{
    justify-content: space-between;
    padding: 5px;
    a{
        color: rgb(24, 21, 21);
        padding: 5px;
        text-decoration: none;
        font-size: 1.6002vw;
        padding: 15px;
    
    }

}


.derT1{
    height:  30px;
    padding: 10px;
    width: 90%;
    background-color: rgb(247, 247, 253);
    border-radius: 12vw ;
    display: flex;
    justify-content: space-between;



    a{
        color: rgb(106, 96, 96);
        padding: 8px;
        text-decoration: none;
        justify-content: space-between;
        font-size: 1.6002vw;
        padding: 15px;
        

    
    }
}
.id{
    margin-left: 93vw;
    margin-top: -49px;
    display: flex
}