
body {
    background-image: url(../imagenes/Rectangle\ 1.png);
    
}
.fon{
    background-image: url(../imagenes/pexels-pixabay-159400.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.datos{
    width: 700px;
    margin-left: 0;
    background: #fff;
    color: rgb(9, 12, 12);
    border-radius: 40px;


}
.img1 img{
    padding: 10px;
}
.img1{
    margin-top: 70px;


}
.bara{
    width: 67%;
    height: 100%;
    margin: 30px 0;

}
.bara input {
width: 100%;
height: 100%;
background: transparent;
border: none;
outline: none;
border: 2px solid rgb(102, 92, 76);
border-radius: 590px;
padding: 5px;

}
.una h2{
    height: 0px;
    margin-left: -370px;  
}
.une h2{
    height: 0px;
    margin-left: -330px; 
}
.submit-btn button{
    margin-top: -500px;

}

.texto p{
    font-size: 10px;
    margin-top: 0px;
    padding: 20px;
}